<% title "Pitching Stats" %>

<table>
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Stint</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Games</th>
    <th>Games Started</th>
    <th>Complete Games</th>
    <th>Shutouts</th>
    <th>Saves</th>
    <th>Innings Pitched Outs</th>
    <th>Hits</th>
    <th>Earned Runs</th>
    <th>Home Runs</th>
    <th>Walks</th>
    <th>Strikeouts</th>
    <th>Intentional Walks</th>
    <th>Wild Pitches</th>
    <th>Hit By Pitch</th>
    <th>Balks</th>
    <th>Batters Faced</th>
    <th>Games Finished</th>
    <th>Runs</th>
    <th>Sacrifice Hits</th>
    <th>Sacrifice Flies</th>
    <th>Grounded Into Double Plays</th>
  </tr>
  <% for pitching_stat in @pitching_stats %>
    <tr>
      <td><%= pitching_stat.player_id %></td>
      <td><%= pitching_stat.team_id %></td>
      <td><%= pitching_stat.stint %></td>
      <td><%= pitching_stat.wins %></td>
      <td><%= pitching_stat.losses %></td>
      <td><%= pitching_stat.games %></td>
      <td><%= pitching_stat.games_started %></td>
      <td><%= pitching_stat.complete_games %></td>
      <td><%= pitching_stat.shutouts %></td>
      <td><%= pitching_stat.saves %></td>
      <td><%= pitching_stat.innings_pitched_outs %></td>
      <td><%= pitching_stat.hits %></td>
      <td><%= pitching_stat.earned_runs %></td>
      <td><%= pitching_stat.home_runs %></td>
      <td><%= pitching_stat.walks %></td>
      <td><%= pitching_stat.strikeouts %></td>
      <td><%= pitching_stat.intentional_walks %></td>
      <td><%= pitching_stat.wild_pitches %></td>
      <td><%= pitching_stat.hit_by_pitch %></td>
      <td><%= pitching_stat.balks %></td>
      <td><%= pitching_stat.batters_faced %></td>
      <td><%= pitching_stat.games_finished %></td>
      <td><%= pitching_stat.runs %></td>
      <td><%= pitching_stat.sacrifice_hits %></td>
      <td><%= pitching_stat.sacrifice_flies %></td>
      <td><%= pitching_stat.grounded_into_double_plays %></td>
      <td><%= link_to "Show", pitching_stat %></td>
      <td><%= link_to "Edit", edit_pitching_stat_path(pitching_stat) %></td>
      <td><%= link_to "Destroy", pitching_stat, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Pitching Stat", new_pitching_stat_path(pitching_stat) %></p>
