<% title @franchise.name %>
<% if @franchise.active%>
<%= image_tag(@google_image.original,:style => 'padding:3px; border:solid 1px #EEE; margin:2px; width:200px; height:auto; position:absolute; right:120px;') %>
<% end %>
<% if !@franchise.active %>
<p>
<strong>Active: &#10008 </strong>
</p>
<p>
  <strong>Years:</strong>
  <%= @first_team.year%>-<%= @last_team.year%>
</p>
<%  else %>
<p>
  <strong>Active: &#10004</strong>
</p>
<p>
  <strong>Years:</strong>
  <%= @first_team.year%>-
</p>
<% end %>
<div id='chart'></div>
<%= raw @chart.render('chart') %>

