<h1> Search Result </h1>
<% if @players.empty? %>
<br />
<h2>No players found</h2>
<% end %>
<p class="supertiny">&nbsp;</p>

<% unless @players.empty? %>
	<p><em><strong>Players matching '<%= @arr.join(", ") %>'</strong></em></p>
	<ul>
            <table class="datagrid">
              <thead class="datagrid">
                  <th width="250">Name</th>
                  <th width="250">Active</th>
                  <th>Play Year</th>
              </thead>
              <% for player in @players do %>

              <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
                  <td align ="center"><%= link_to player.name, player_path(player) %></td>
                  <td align ="center">
                      <% if player.final_game.nil? %>
                          <strong></strong>&#10004
                      <% end %>
                      <% if !player.final_game.nil? %>
                          <strong></strong>&#10008
                      <% end %>
                  </td>
                  <td align ="center">
                      <% if player.final_game.nil? && !player.debut.nil? %>
                          <%= player.debut.strftime("%Y") %> -
                      <% end %>
                      <% if !player.final_game.nil? && !player.debut.nil? %>
                          <%= player.debut.strftime("%Y") %> - <%= player.final_game.strftime("%Y") %>
                      <% end %>
                  </td>
              </tr>
            <% end %>
            </table>
	</ul>
	<p class="smtext">&nbsp;</p>
        <%= will_paginate @players, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :params => {:query => params[:query], :letter => params[:letter], :position => params[:position]} %>
<% end %>
